/* Begin Modifications to Bootstrap: 

.container-fluid {
  padding-right: 15px;
  padding-left: 1px;
  margin-right: auto;
  margin-left: auto;
}

  End Modifications to Bootstrap:  */

[class*="col-"] {
    /*border: 1px solid red;*/
    background-color: #fff;
    text-align: left;
}

#nav_bar {
    height: 60px;
    background-color: #000;
    border-bottom: 1px solid #fff;
}

#image1_area {
    height: 546px;
}

.image1 {
    background-image: url(../IMAGES/image1a.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #f00;
}

#image2_area {
    height: 244px;
}

.image2 {
    background-image: url(../IMAGES/image2.jpg);
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center;
}

#image3_area {
    height: 244px;
}

.image3 {
    background-image: url(../IMAGES/image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image4 {
    background-image: url(../IMAGES/image4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#image4_area {
    height: 244px;
}

.image5 {
    background-image: url(../IMAGES/image5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#image5_area {
    height: 244px;
}

.image6 {
    background-image: url(../IMAGES/image6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#image6_area {
    height: 244px;
}

.image7 {
    background-image: url(../IMAGES/image7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#image7_area {
    height: 244px;
}

#iters_area {
    height: 1300px; /*946px;*/
    /*float: right;*/
}

#hl_area {
    width: 100%;
    color: #ff0000;
    font-size: 1.4em;
    font-family: Times;
    font-weight: 700;
    box-sizing: padding-box;
    border-bottom: 1px solid #abaca8;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.u1_li1 {
    color: #000;
    font-size: 1.2em;
    list-style-type: square;
    border-bottom: 1px solid #abaca8;
    padding-top: 22px;
    padding-bottom: 22px;
}

#link1_area {
    width: 100%;
    color: #6a6161;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #abaca8;
    box-sizing: padding-box;
    border: 1px solid #abaca8;
    text-align: center;
}

#ad1_area {
    width: 100%;
    height: 600px;
    background-color: #fff;
    box-sizing: padding-box;
    /*border: 1px solid red;*/
    margin-top: 25px;
}

#usb_ad {
    position: relative;
    top: 530px;
    left: 120px;
}

#article_area {
    height: 1350px; /*946px;*/
}

#article_area2 {
    /*height: 1300px; /*946px;*/
    /*padding-top: 20px;*/
    border-top: 1px solid #d0d3c7;
}

#title1_area {
    height: 254px; /*144px;*/
    border-bottom: 1px solid #d0d3c7;
    margin-bottom: 25px;
}

#title1_hdr {
    font-family: 'Catamaran', sans-serif;
    color: #ff0000;
    font-size: 1.4em;
    font-weight: 200;
    text-align: center;
    margin: 5px auto 5px auto;
}

#title2_area {
    height: 254px; /*144px;*/
    /*border-bottom: 1px solid #d0d3c7;*/
    margin-bottom: 25px;
}

#title2_hdr {
    font-family: 'Catamaran', sans-serif;
    color: #ff0000;
    font-size: 1.2em;
    font-weight: 200;
    text-align: center;
    margin: 5px auto 5px auto;
    word-wrap: break-word;
}

#title1_hdln {
    font-family: 'Catamaran', sans-serif;
    color: #000;
    font-size: 2.4em;
    font-weight: 200;
    text-align: center;
    margin: 5px auto 5px auto;
}

#title2_hdln {
    font-family: 'Catamaran', sans-serif;
    color: #000;
    font-size: 2.0em;
    font-weight: 200;
    text-align: center;
    margin: 5px auto 5px auto;
    word-wrap: break-word;
}

#title1_desc {
    font-family: Times;
    color: #454040;
    font-size: 1.9em;
    font-weight: 200;
    text-align: center;
    margin: 5px auto 5px auto;
}

#title2_desc {
    font-family: Times;
    color: #454040;
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
    margin: 5px auto 5px auto;
    word-wrap: break-word;
}

#title3_area {
    height: 254px; /*144px;*/
    /*border-bottom: 1px solid #d0d3c7;
    margin-bottom: 25px;*/
}

.sub_hdln1 {
    width: 60%;
    color: #000;
    font-size: 1.2em;
    text-align: center;
    margin: 20px auto 5px auto;
}

.sub_hdln2 {
    width: 90%;
    color: #000;
    font-size: 0.9em;
    text-align: center;
    margin: 20px auto 5px auto;
}

.sub_hdln11 {
    list-style-position: inside;
}

.sub_hdln12 {
    list-style-position: inside;
}

.mycol-10pct {
    width: 5%;
    height: 60px;
    background-color: #000;
    float: left
}

.logo_full {
    display: none;
}

#logo_small {
    width: 60px;
    height: 60px;
    border-bottom: 1px solid #fff;
}

.hdr {
    width: 56%;
    height: 100%;
    background-color: #000;
    margin: -1px auto 0 0.75%;
    float: left;
}

.hdr2 {
    width: 37.5%;
    height: 100%;
    background-color: #000;
    margin: -1px auto 0 0.75%;
    float: right;
}

.nav1 {
    position: relative;
    top: 23px;
    list-style-type: none;
    height: 32px;
    float: left;
}

.clr1, .clr2 {
    color: #fff;
    font-weight: 600;
    font-size: 0.9em;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}

.clr1 {
    margin-left: -30px;
}

.clr3, .clr4 {
    width: 90px;
    height: 60px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-left: 1px solid #c3b5b5;
    list-style-type: none;
    padding-top: 18px;
    margin-right: 10px;
    margin-left: -30px;
    float: right;
}

.clr3 {
    margin-right: -35px;
    border-bottom: 3px solid #ff0000;
}

.clr4 {
    width: 120px;
    border-right: 1px solid #c3b5b5;
    padding-top: 10px;
}

.icons2 {
    width: 30px;
    height: 60px;
    margin-left: 10px;
    float: right;
}

#srch_icon {
    padding-top: 15px;
    margin-right: 10px;
}

#position_icon {
    padding-top: 15px;
    margin-right: 25px;
}

#lines_icon {
    display: none;
    padding-top: 15px;
    margin-right: 25px;
}

.scaled2 {
    width: 100%;
}

.rt_clicks {
    margin-right: 20px;
    float: right;
}

#ylw {
    color: #ecff04;
}

#img4, #img5, #img6 {
    padding-top: 20px;
    border-right: 1px solid #d0d3c7;
}

#img7 {
    padding-top: 20px;
}