.logo {
    display: none;
}
        
.logo_full {
    display: inline-block;
}

#logo_big {
    width: 200px;
    height: 60px;
    border-bottom: 1px solid #fff;
}

.mycol-10pct {
    width: 20%;
    height: 60px;
    background-color: #000;
    float: left;
}

.sub_hdln, .sub_hdln2 {
    display: none;
}

#iters_area {
    background-color: #eaeaea;
}

#hl_area {
    text-align: center;
}

.u1_li1 {
    list-style-position: inside;
    text-align: center;
    margin-left: -45px;
}
